body {
  font-family: mulish;
  line-height: 1.4;
}

.Sobre-mi {
  content: '';
  background: url(../imagenes/aboutmebg.jpeg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
